
.title{
  font-family: 'Source Serif Pro', serif;
}
p{
  font-family: 'Molengo', sans-serif;
  line-height: 30px;
  font-size: 1.2rem;
}
/************TITLLE SECTION**************/
/* navbar */
.navbar{
  padding: 0 0 4rem 0;
  position:fixed;
  padding: 2px;
  color: #3b5360;
  border-radius: 10px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Molengo', sans-serif;
}

/* title section */

#title-section{
  background-color: #a8d3da;
  color: #3b5360;
}

.container-fluid {
  padding-top: 20%;
}

.big-heading {
  font-size:5rem;
  margin: 5px 40px 20px 60px;
  padding-bottom: 5%;
  position: relative;
  left: 150px;
  bottom: 150px;
  float: left;
}

.title-footer{
  position: absolute;
  bottom: 140px;
  left: 230px;
  font-size: 1.3rem;
  color: #435560;
}

.title-img {
  width: 65%;
  position: absolute;
  bottom: 10px;
  margin-left: 60px;
  border-radius: 25px;
}

.lg-col-6{
  padding: 0;
}

/****************SECOND SECTION***************/

#second-section{
  background-color: #caf7e3;
  padding: 10%;
}

.family-intro-img{
  width: 10%;
  position: absolute;
  left: 85%;
}

.myButton {
	background-color:#f5c993;
	border-radius:20px;
	border:1px solid #ffe3b2;
	display:inline-block;
	cursor:pointer;
	color:#16171a;
	font-family:Arial;
	font-size:14px;
	padding:5px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background-color:#d19a58;
}
.myButton:active {
	position:relative;
	top:1px;
}


/********************FOOTER**************/
#footer{
  color: #424642;
  background-color: #caf7e3;
}

.copyright{
  padding: 1%;
  position: relative;
  left: 40%;
}

/**************************MEDIA QUERY*****************************/

@media (max-width: 1200px){
 .title-img {
   width: 50%;
   right: 150px;
 }
 .big-heading{
   font-size: 3rem;
   margin-bottom: 40px;
 }
 .container-fluid{
   padding:15%;
 }
}

@media (max-width: 1000px){
  .title-img{
    width: 30%;
    right: 50px;
  }
}

@media (max-width: 985px){
  .title-img{
    width: 24%;
  }
}

@media (max-width: 830px){
 .title-img{
   width: 50%;
   position: relative;
   left: 12%;
 }
 .big-heading{
   position: static;
 }
 .title-footer{
  top: 90px;
  left: 90px;
 }
 .container-fluid {
   padding-top: 0;
 }
}

@media (max-width:645px) {
  .title-footer{
    top: 130px;
  }
}
