
.title{
  font-family: 'Source Serif Pro', serif;
}
p{
  font-family: 'Molengo', sans-serif;
}
/************TITLLE SECTION**************/
/* navbar */
.navbar{
  padding: 0 0 4rem 0;
  position:fixed;
  padding: 2px;
  color: #3b5360;
  border-radius: 10px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Molengo', sans-serif;
}

/* title section */

#title-section{
  background-color: #a8d3da;
  color: #3b5360;
}

.container-fluid {
  padding-top: 25%;
}

.big-heading {
  font-size:5rem;
  margin: 5px 40px 20px 60px;
  padding-bottom: 5%;
  position: relative;
  left: 150px;
  bottom: 150px;
  float: left;
}

.title-footer{
  position: absolute;
  bottom: 140px;
  left: 230px;
  font-size: 1.3rem;
  color: #435560;
}

.title-img {
  width: 60%;
  position: absolute;
  bottom: 10px;
  margin-left: 60px;
  border-radius: 25px;
}

/****************SECOND SECTION***************/

#second-section{
  background-color: #caf7e3;
  padding: 10%;
}

/**************************MEDIA QUERY*****************************/

@media (max-width: 1200px){
 .title-img {
   width: 50%;
   right: 150px;
 }
 .big-heading{
   font-size: 3rem;
   margin-bottom: 40px;
 }
}

@media (max-width: 1000px){
  .title-img{
    width: 30%;
    right: 50px;
  }
}

@media (max-width: 910px){
  .title-img{
    width: 30%;
  }
}
